/* set pseudo-class global variables */

:root {
    --main-background-color: #88ac87;
    --main-container-color: #38667f;
    --main-text-color: #fff;
    --header-font: Georgia, serif;
    --main-text-font: Verdana, sans-serif;
    --main-border-color: #38667f;
}

/* set base styling */

* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color:var(--main-text-color);
}

body {
    background-color: var(--main-background-color);
}

/* navbar/header */

header {
    padding: 20px;
    font-family: var(--header-font);
    background-color: var(--main-container-color);
    color: var(--main-text-color);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--main-text-font);
    font-size: 20px;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px; 
}

/* main content */

main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: var(--main-text-font);
}
main section h2 {
    float: left;
    justify-content: center;
    font-family: var(--header-font);
    background-color: var(--main-background-color);
}

h3 {
    font-family: var(--header-font);
}

/* About Me section */

.Headshot {
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    float:left;
    max-width: 10%;
    min-width: 10%;
}

.About-Me p {
    display: flex;
    flex-direction: row;
    background-color: var(--main-container-color);
}

/* Work section */

.Work {
    display: flex;
    flex-direction: row;
}

.Work ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
}

.Work ul li {
    flex: 1 1 50%;
    list-style-type: none;
}

.Work ul li a {
    opacity: 0.5;
}

.Work ul li.top-project { 
    flex: 2 1 100%;
    border: 4px solid var(--main-border-color);
    position:relative;
}

.Work img {
    max-width: 100%;
}

.projects {
    border: 4px solid var(--main-border-color);
    position: relative;
}

.textbox {
    position:absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--main-container-color);
    color: var(--main-text-color);
}

/* Contact Me section */

.Contact-Me ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

/* Pseudo-class hover used on project images */

.Work ul li a:hover {
    opacity: 1.0;
}

/* Elements are stacked on top of each other at 1077px or smaller */
@media screen and (max-width: 1077px) {
    header {
        padding:0;
    }
    header h1 {
        display: grid;
        justify-content: center;
    }
    header nav {
        float:none;
        padding: 0;
    }
    header nav ul li {
        display: flex;
        justify-content: center;
    }

    .About-Me {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Headshot {
        max-width: 30%;
        min-width: 10%;
        float: none;
    }
    .Work{
        display:grid;
        justify-content: center;
    }
    .Work ul {
        margin:0;
    }
    .Work ul li {
        flex: 2 1 100%;
    }
    .Contact-Me {
        display: grid;
        justify-content: center;
    }
    .Contact-Me ul {
        display: grid;
        justify-content: center;
    }
}
